.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.5;
}
.App1 {
  font-family: sans-serif;
  text-align: center;
}

.movies {
  border: 4px solid black;
  margin-bottom: 15px;
  width: 350px;
  height: 350px;
  margin: auto;
  margin-top: 30px
}

img {
  height: 200px;
  width: 350px;
  margin-bottom: 5px;
  overflow: hidden;
}